{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Passord{% endblock title %}

{% block content %}
<div class="input-wrap">
    <h1>Password Change</h1>
    <p>Please enter your old password, for security's sake, then enter your new password twice so we can verify you typed it correctly.</p>
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-color" type="submit" value="Change password">
    </form>
</div>
{% endblock content %}
